.Calculator{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btnWrap{
    display: flex;
    flex-wrap: wrap;
    width: 270px;
}
.btnStyle{
    padding: 1rem 1.2rem;
    margin: 0.5rem;
    border-radius: 8px;
}
/* .inputDiv{
    text-align: right;
} */